@tailwind base;
@tailwind components;
@tailwind utilities;

/* add any global overrides here */

.fileUploaderWrapper uc-source-list {
    display: none !important;
}

.fileUploaderWrapper uc-copyright {
    display: none !important;
}

.shantell-sans-holiday {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}
  
  